.PlayIcon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#52616B;
    border-radius: 50%;
    text-align: center;
}
.PlayIcon > img {
    width: 25px;
}