.HomeModule_inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.HomeModule_inner > div{
    background-color: #2b3236;
    padding: 15px;
    border-radius: 10px;
}
.HomeModule_inner_center{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}
.HomeModule_inner_center_center{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
}
.HomeModule_inner_center_right{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
}
.HomeModule_inner_bottom{
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 0 !important;
    background-color: #1E2022 !important;
}