.WeatherModule_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.WeatherAll{
    grid-column-start: 1;
    background-color: #2b3236;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.Weather5{
    grid-column-start: 1;
}
.WeatherMap{
    grid-column-start: 0;
}
.WeatherAllTemp{
    display: flex;
    align-items: center;
}
.WeatherAllTemp img{
    width: 110px;
}
.WeatherAllTemp_item{
    font-size: 90px;
}
.WeatherAll_name{
    font-size: 18px;
    font-weight: 700;
}
.WeatherAll_desc{
    margin-top: 12px;
    font-size: 15px;
}
.WeatherAll_vis{
    font-size: 15px;
}
.WeatherAll_wind{
    font-size: 15px;
}
.WeatherAll_clouds{
    font-size: 15px;
}
.WeatherAll_hum{
    font-size: 15px;
}
.Weather5_list{
    display: flex;
    gap: 10px;
}
.Weather5_item{
    background-color: #2b3236;
    border-radius: 10px;
    padding: 15px;
}
.Weather5_item_dw{
    font-size: 22px;
    font-weight: 700;
}
.Weather5_item_d{
    font-size: 12px;
}
.Weather5_item_t{
    font-size: 40px;
    font-weight: 700;
}
.Weather5_item_desc{
    font-size: 12px;
}