.TodoListModule_item_title{
    border-radius: 5px;
    background-color: #2b3236;
    text-align: center;
    padding: 10px;
    user-select: none;
}
.TodoListModule_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-gap: 15px;
}
.TodoListModule_item_item{
    margin-top: 15px;
    background-color: #2b3236;
    border-radius: 5px;
    padding: 10px;
}
.TodoListModule_item_item_title{
    font-size: 19px;
    font-weight: 700;
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.TodoListModule_item_item_desc{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 14px;
    border-top: 1px solid #52616B;
}
.TodoListModule_add{
    margin-top: 15px;
}
.TodoListModule_item_item_title svg{
    opacity: 0;
    transition: 100ms;
    cursor: pointer;
}
.TodoListModule_item_item:hover svg{
    transition: 100ms;
    opacity: 1;
}
.TodoListModule_item_item_title > img{
    cursor: pointer;
}
.TodoListModule_item{
    height: calc(100vh - 20px);
}